  body {
    background-color: #2c2c2e;
    color: #e5e5e5;
  }

  .navbar,
  .footer,
  .card,
  .bg-dark-mode {
    background-color: #3a3a3c;
    color: #e5e5e5;
  }

  .navbar-brand,
  .nav-link {
    color: #e5e5e5;
  }

  .nav-link:hover {
    color: #a9a9a9;
  }

  .bg-primary {
    background-color: #4a4a4e !important;
  }

  .lead,
  .container p {
    color: #b0b0b0;
  }

  .ul-personalizado {
    color: #b0b0b0;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004080;
  }

  .contact-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px; /* Ajusta este valor según el espacio que quieras para cada botón */
    height: 120px; /* Esto hace que el botón sea cuadrado, ajusta según necesites */
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .contact-btn i {
    font-size: 2.5em; /* Ajusta este valor para cambiar el tamaño del icono */
    margin-bottom: 10px; /* Espacio entre el icono y el texto */
  }

  .contact-btn span {
    font-size: 0.9em; /* Ajusta este valor para cambiar el tamaño del texto */
  }

  /* Para hacer los botones responsivos */
  @media (max-width: 768px) {
    .contact-btn {
      width: 100px;
      height: 100px;
    }

    .contact-btn i {
      font-size: 2em;
    }

    .contact-btn span {
      font-size: 0.8em;
    }
  }